<div class="card border-0">
  <div class="card-body">
    <h4>Edit {{ value }}</h4>
    <form name="myForm" [formGroup]="rackForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">{{ racksTranslate }}Name</label>

            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              [ngClass]="{'is-invalid': submitted && f.name.errors}"
              [(ngModel)]="rackObject.name"
              name="name"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">
                {{ racksTranslate }}Name is required
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isStorePresent" class="col md-6">
          <div class="form-group">
            <label for="store">Select {{ storeTranslate }}:</label>
            <select
              id="select_stores"
              formControlName="store"
              class="form-control"
              (change)="changeStore($event)"
            >
              <option disabled>Choose {{ storeTranslate }}</option>
              <option
                *ngFor="let store of storeList"
                [(ngModel)]="store.storeId"
              >
                {{ store.storeName }}
              </option>
            </select>
            <div
              *ngIf="f.storeFk.touched && f.storeFk.invalid"
              class="text-danger"
            >
              <div *ngIf="f.storeFk.errors.required">
                {{ storeTranslate }} is required.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="display: none">
        <div class="col-md-6">
          <div class="form-group">
            <label for="description">Number Of Rows</label>
            <input
              type="number"
              class="form-control"
              id="no_of_rows"
              formControlName="no_of_rows"
              [ngClass]="{'is-invalid': submitted && f.no_of_rows.errors}"
              [(ngModel)]="rackObject.no_of_rows"
              name="no_of_rows"
              min="1"
              max="{{ totalNoOfRows }}"
            />
            <div
              *ngIf="submitted && f.no_of_rows.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.no_of_rows.errors.required">
                Number Of Rows is required
              </div>
              <div
                *ngIf="
                  !f.no_of_rows.errors.required &&
                  rackObject.no_of_rows > totalNoOfRows
                "
              >
                please enter rows less than {{ totalNoOfRows }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="no_of_columns">Number Of Columns</label>
            <input
              type="number"
              class="form-control"
              id="no_of_columns"
              formControlName="no_of_columns"
              [ngClass]="{'is-invalid': submitted && f.no_of_columns.errors}"
              [(ngModel)]="rackObject.no_of_columns"
              name="no_of_columns"
              min="1"
              max="{{ totalNoOfCols }}"
            />
            <div
              *ngIf="submitted && f.no_of_columns.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.no_of_columns.errors.required">
                Number Of Columns is required
              </div>
              <div
                *ngIf="
                  !f.no_of_columns.errors.required &&
                  rackForm.value.no_of_columns > totalNoOfCols
                "
              >
                please enter columns less than {{ totalNoOfCols }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            type="button"
            routerLink="/racks"
            class="btn btn-danger mt-3 float-right"
            title="Click to close"
          >
            Cancel
          </button>
          <button
            id="update_rack"
            class="btn btn-primary float-right mt-3"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Click to update {{ racksTranslate }}"
          >
            Update {{ value }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
