:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  .controls-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;

    & > * {
      margin: 8px 24px 8px 0;
    }
  }

  .grid-container {
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 2px;
    background: #928282;
  }

  ktd-grid-item {
    color: #9ea6a7;
  }

  .image-container {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .grid-item-content {
    box-sizing: border-box;
    border: 1px solid;
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-color {
    color: rgba(40, 207, 230, 0.658);
  }

  .grid-item-remove-handle {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;

    &::after {
      content: 'x';
      color: #121212;
      font-size: 16px;
      font-weight: 300;
      font-family: Arial, sans-serif;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  // Add custom drag mouse styles
  ktd-grid-item {
    cursor: grab;

    &.ktd-grid-item-dragging {
      cursor: grabbing;
    }
  }

  mat-chip-list,
  mat-chip {
    pointer-events: none;
    user-select: none;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  h1.example-app-name {
    margin-left: 8px;
  }

  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  table {
    width: 100%;
  }

  .popup-picker {
    z-index: 999;
    top: 60px;
    width: 10%;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: relative;
    width: 100%;
    background: #fff;
  }

  .btn {
    padding: 2px !important;
  }

  .traySelected {
    border: 1px solid darkgray;
  }

  .success {
    height: 27px;
  }

  .layout {
    height: 27px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f9f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  // .sidenav a:hover {
  //   color: #f1f1f1;
  // }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #tray_grid {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }

  #dialog {
    display: none;
  }

  .searchborders {
    border-color: #00ff4a;
  }
  .normal-borders {
    border-color: blue;
  }
}
.save-button {
  margin-top: 10px;
}

.Row {
  display: table;
  table-layout: fixed; /*Optional*/
}
.Column {
  display: table-cell;
}

.fa {
  display: inline-block;
  font: 14px/1 FontAwesome;
  text-rendering: auto;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkbox-input {
  margin-left: 10px;
}
