<div >
  <i class="fa fa-info-circle col mt-1 mr-n1 pointer" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
    (click)="toggle(trigger)" aria-hidden="true" style="
      opacity: 0;
  "></i>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="isOpen=false" [cdkConnectedOverlayOpen]="isOpen">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <blockquote>
          <p [innerHTML]="notificationTemplate"></p>
        </blockquote>
      </div>
      <div class="bi bi-x-circle-fill float-right-top pointer" (click)="isOpen=false"></div>
    </div>
  </div>
</ng-template>
