<div class="feat" style="background-color: rgb(241, 241, 241);">
    <div class="container">
        <div class="row" style="
    text-align: center;   
">
            <div class="section-head col-sm-12">
                <h1 style="
                        font-size: 46px;
                        font-weight: 600;
                        background-image: linear-gradient(to left, #eb3030, #ee4646);
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                    "><span>Activation Failed !</span> </h1>

                <p style="
                        font-size: 26px;
                        font-weight: 100;
                        background-image: linear-gradient(to left,#eb3030, #ee4646);
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                    ">Your account is not activated please contact the Administrator.                    
                </p>
            </div>
        </div>
    </div>
</div>