<!DOCTYPE html>
<html lang="en">
   <head>      
      <meta charset="UTF-8">
   </head>
   <body>
      <p>Hi,
       Your password is changed successfully <br />         
         <p>Please Click  
         <a href="{{link}}">
         here
         </a> to login your account with new password.
      </p>
      </p>
      
      Regards, <br />   
      <address>
      From: <a href="mailto:correspondence@rms.electems.com">Support RMS</a>.<br> 
      Visit us at: <a href="rms.electems.com">rms.electems.com</a>
      </address>
   </body>
</html>
