<div class="feat" style="background-color: lavender;">
    <div class="container">
        <div class="row" style="
    text-align: center;   
">
            <div class="section-head col-sm-12">
                <h1 style="
                        font-size: 46px;
                        font-weight: 600;
                        background-image: linear-gradient(to left, #553c9a, #b393d3);
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                    "><span>Activation Successfull</span> </h1>

                <p style="
                        font-size: 26px;
                        font-weight: 100;
                        background-image: linear-gradient(to left, #553c9a, #876cb7);
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                    ">Your account is activated successfully with a trail period that ends on {{emailData.trialend}}.
                    <a href="{{link}}">
                       Click here
                    </a> to continue.
                </p>
            </div>
        </div>
    </div>
</div>