<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>sendNotificationStatus</title>
   </head>
   <body>
      <p>
         "Hello,user has registered, Your new password is:" <br />
         "You can login here:" <br />
         "http://localhost:4200/login " <br />
         "Thank you"
      </p>
   </body>
</html>