<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
   </head>
   <body>
      <br />
      <p>You have an ticket raised from {{contactUsData.email}}
        <br />
        {{contactUsData.message}}         
      </p>
   </body>
</html>