<div class="app">
  <div class="authentication">
    <div class="sign-in-2">
      <div class="container-fluid no-pdd-horizon">
        <div class="row">
          <div class="col-md-80 mr-auto ml-auto">
            <div class="row">
              <div
                class="mr-auto ml-auto d-flex align-items-center"
              >
                <div class="vertical-align">
                  <div class="table-cell">
                    <form
                      [formGroup]="forgotPasswordForm"
                      (ngSubmit)="submit()"
                      *ngIf="isForgotPassword || appService.isForgotPassword"
                    >
                      <p class="font-size-5">
                        Please enter your email address to reset your password
                      </p>
                      <div class="form-group">
                        <br />
                        <input
                          formControlName="email"
                          id="emaildata"
                          type="email"
                          class="form-control"
                          placeholder="Email"
                          [(ngModel)]="user.email"
                        />
                        <div
                          *ngIf="f.email.touched && f.email.invalid"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.email.errors.required">
                            email is required.
                          </div>
                        </div>
                      </div>
                      <div class="mt-3 text-center" id="Recoveraccess">
                        <button
                          class="btn btn-block btn-info"
                          [disabled]="!forgotPasswordForm.valid"
                        >
                          Recover access
                        </button>
                      </div>

                      <div class="mt-3 text-center">
                        Don’t have an account?
                        <a
                          id="signup"
                          href=""
                          (click)="
                          showRegisterModal(); isForgotPassword = false
                          "
                        >
                          Sign up
                        </a>
                      </div>
                    </form>
                    
                    <div *ngIf="passChanged" class="mt-3 ml-3">
                     New password is sent to Your e-mail please check your e-mail
                     <div class="mt-3 text-center">
                      Please click here for login
                      <a
                        href=""
                        (click)="
                        isUserLogin = true; 
                        isForgotPassword = false; 
                        isUserRegister = false; 
                        passChanged = false
                        "
                      >
                        Login
                      </a>
                    </div>
                    </div>
                    <div *ngIf="isUserLogin">
                      <app-login></app-login>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="registerModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true"
  *ngIf="isUserRegister">
  <div class="modal-lg modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-gradient-primary-to-secondary p-2">
        <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">
          Register Form
        </h5>
        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="reloadPage()"></button>
      </div>
      <div class="modal-body border-0 p-4"><app-register></app-register></div>
    </div>
  </div>
</div>
